$background-color:#C0EBF2;
$color-nav:#01BDBE;
$color-blanco:white;
$color-grisoscuro:#313131;
$color-negro:#0F0F0F;
$color-rosa:#FF577E;
$color-amarillo:#FAD431;
$color-naranja:#FF642C;
$color-footer:#1F1F1F;
$color-grisclaro:rgba(10, 10, 10, 0.664);